$var: 1 2px;
$string-var: "1.0";

p {
  background: url("/v1.0/background.jpg");
  transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  top: 1px;
  line-height: 1;
  letter-spacing: 1.08;
  width: 32.207%;
}
