{
  "rules": {
    "declaration-block-properties-order": [
      {
        "properties": [
          "font-size",
          "font-weight"
        ]
      },
      "display",
      {
        "properties": [
        ]
      },
      "width",
      {
        "object-without-properties-property": true
      },
      "height",
      "color",
      "background",
      "opacity"
    ]
  }
}
