{
  "rules": {
    "declaration-empty-line-before": [ "always", {
        except: [
          "after-declaration",
          "first-nested",
        ],
        ignore: [
          "after-comment",
          "inside-single-line-block",
        ],
      }
    ],
  }
}
