{
  "plugins": [
    "stylelint-order"
  ],

  "rules": {
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-order": [
      [
        {
          "emptyLineBefore": "always",
          "properties": [
            "font-size",
            "line-height"
          ]
        },
        {
          "emptyLineBefore": "always",
          "properties": [
            "position",
            "top",
            "right",
            "bottom",
            "left"
          ]
        }
      ]
    ]
  }
}
